{{define "content"}}
<script>document.title = "cosban - {{.Info.stasis.Title}}";</script>
<h1 class="text-center title">{{.Info.stasis.Title}}</h1>
<div class="box content readable wide">
    <h2 class="post">
        <div class="pull-right subtitle">last edit: {{formatTime .Info.stasis.Content.Revision "2006-01-02"}} </div>
    </h2>
    <div class="post">
        {{render .Info.stasis.Content.Content}}
    </div>
    {{if or (hasPermission .User "stasis.post.delete") (hasPermission .User "stasis.post.edit")}}
    <div class="pull-right">
        <form class="form-inline last" action="/post/delete" method="POST">
            {{if hasPermission .User "stasis.post.delete" }}
            <input type="hidden" name="id" value="{{.Info.stasis.ID}}" />
            <button class="button danger">delete</button>
            {{end}}
            {{if hasPermission .User "stasis.post.edit"}}
            <a class="button primary" href="/post/edit?id={{.Info.stasis.ID}}">edit</a>
            {{end}}
        </form>
    </div>
    {{end}}
</div>
{{end}}
