{{define "content"}}
{{if hasPermission .User "backend.access.posts"}}
<div class="text-center title">backend - posts</div>
<div class="content box">
    <table class="table table-condensed table-striped table-hover last">
        <thead>
            <th>postid</th>
            <th>title</th>
            <th>author</th>
            <th>type</th>
            <th>created</th>
        </thead>
        {{range .Info.stasis}}
        <tr>
            <td>{{.Id}}</td>
            <td><a href="{{if .Feed}}/b/{{else}}/w/{{end}}{{titleToUrl .Title}}">{{.Title}}</a></td>
            <td>{{.Author.Username}}</td>
            <td>{{if .Feed}}blog{{else}}wiki{{end}}</td>
            <td>{{formatTime .Created "2006-01-02"}}</td>
        </tr>
        {{end}}
    </table>
</div>
{{else}}
{{template "notAllowed" .}}
{{end}}
{{end}}
