{{define "content"}}
{{if hasPermission .User "backend.access.roles"}}
<div class="text-center title">backend - roles</div>
<div class="content box">

    <table class="table table-condensed table-striped table-hover last">
        <thead>
            <th>roleid</th>
            <th>name</th>
            <th>permissions</th>
        </thead>
        {{range .Info.aurora}}
        <tr>
            <td>{{.RoleId}}</td>
            <td>{{.Name}}</td>
            <td>
            </td>
        </tr>
        {{range .Permissions}}<tr>
            <td></td>
            <td></td>
            <td>{{.Permission}}</td>{{end}}
        </tr>
        </ul>
        {{end}}
    </table>
</div>
{{else}}
{{template "notAllowed" .}}
{{end}}
{{end}}
