{{define "content"}}
{{if hasPermission .User "backend.access.users"}}
<div class="text-center title">backend - users</div>
<div class="content box">
    <table class="table table-condensed table-striped table-hover last">
        <thead>
            <th>userid</th>
            <th>username</th>
            <th>email</th>
            <th>joined</th>
        </thead>
        {{range .Info.sol}}
        <tr>
            <td>{{.UserId}}</td>
            <td><a href="/u/{{.Username}}">{{.Username}}</a></td>
            <td>{{.Email}}</td>
            <td>{{formatTime .Created "2006-01-02"}}</td>
        </tr>
        {{end}}
    </table>
</div>
{{else}}
{{template "notAllowed" .}}
{{end}}
{{end}}
