{{define "content"}}
{{if hasPermission .User "backend.access.visitors"}}
<div class="text-center title">backend - visitors</div>
<div class="content box">

    <table class="table table-condensed table-striped table-hover last">
        <thead>
            <th>ip</th>
            <th>latest page</th>
            <th>first visit</th>
            <th>latest visit</th>
        </thead>
        {{range .Info.hubble}}
        <tr>
            <td>{{.IP}}</td>
            <td>{{.PageViewed}}</td>
            <td>{{formatTime .FirstVisit "2006-01-02"}}</td>
            <td>{{formatTime .LatestVisit "2006-01-02"}}</td>
        </tr>
        {{end}}
    </table>
</div>
{{else}}
{{template "notAllowed" .}}
{{end}}
{{end}}
