/* bootstrap overrides */
* {
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
}

pre {
    margin: 0;
}

textarea {
    resize: vertical;
}

code {
    padding: 0px;
    background-color: inherit;
    color: #000;
}

.img-responsive {
    max-height: 100%;
    width: auto;
}

.navbar-brand {
    height: auto;
}

.navbar-nav a {
    font-family: 'Arial';    
}

.navbar ul.box {
    margin: 0;
}

.navbar-brand,
.navbar-nav>li>a {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.navbar {
    background-color: rgba(51, 51, 51, 0.4);
    min-height: 32px !important;
    margin-bottom: auto;
}

.nav-items {
    margin: 0 3px;
    font-size: 0px;
}

.nav-title {
    font-size: 20px;
}

.navbar-default .navbar-nav>li>a,
.navbar-default .dash {
    color: #FFF;
}

@media (max-width: 767px) {
    .navbar-brand {
        margin: 6px 0px;
    }
}

.navbar-default,
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    border: none;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand {
    color: #FFF;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: #FFF;
}

.navbar-default .navbar-toggle {
    border: none;
}

.table-condensed>tbody>tr>td,
.table-condensed>tbody>tr>th,
.table-condensed>tfoot>tr>td,
.table-condensed>tfoot>tr>th,
.table-condensed>thead>tr>td,
.table-condensed>thead>tr>th {
    padding: 2px;
}

.post table {
    width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    background-color: transparent;
    border-spacing: 0;
    border-collapse: collapse;
}

.post table > thead:first-child > tr:first-child > th {
    border-top: 0;
}

.post table > tbody > tr:nth-of-type(2n+1) {
    background-color: #f9f9f9;
}

.post table > tbody > tr > td,
.post table > tbody > tr > th,
.post table > thead > tr > td,
.post table > thead > tr > th,
.post table > tfoot > tr > td,
.post table > tfoot > tr > th {
    padding: 2px;
    line-height: 1.42857143;
    vertical-align: top;
    border-top: 1px solid #ddd;
}
