.button {
    min-width: 50px;
    text-align: center;
    display: inline-block;
    padding: 7px 12px;
    font-size: 13px;
    font-weight: bold;
    color: #333;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    background-color: #fff;
    border: 1px solid #ccc;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-appearance: none;
    text-decoration: none !important;
}

.button>img {
    vertical-align: middle;
    padding-right: 5px;
    max-height: 15px;
    width: auto;
}

a.button.default,
a:link.button.default,
a:visited.button.default,
a:hover.button.default,
a:focus.button.default,
a:active.button.default {
    color: #333;
}

.button.primary {
    color: #fff !important;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.button.success {
    color: #fff !important;
    background-color: #5cb85c;
    border-color: #5cb85c;
}

.button.info {
    color: #fff !important;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.button.warning {
    color: #fff !important;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.button.danger {
    background-color: #df3e3e;
    border: 1px solid #cd504a;
    color: #eee !important;
}

.button.twitch {
    background-color: #7a4fb7;
    border: 1px solid #71428E;
    color: #eee !important;
}

.button.disabled {
    background-color: #1f1e1f;
    border: 1px solid #1b1a1b;
    color: #232223 !important;
}

.button:hover {
    color: #333 !important;
    background-color: #e6e6e6;
    border-color: #adadad;
    text-decoration: none;
}

.button.primary:hover {
    color: #fff !important;
    background-color: #286090;
    border-color: #204d74;
}

.button.success:hover {
    color: #fff !important;
    background-color: #449d44;
    border-color: #398439;
}

.button.info:hover {
    color: #fff !important;
    background-color: #31b0d5;
    border-color: #269abc;
}

.button.warning:hover {
    color: #fff !important;
    background-color: #ec971f;
    border-color: #d58512;
}

.button.danger:hover {
    color: #fff !important;
    background-color: #c9302c;
    border-color: #ac2925;
}

.button.twitch:hover {
    color: #fff !important;
    background-color: #6441a5;
    border-color: #6253b1;
}

.right>.button {
    margin-right: 0;
}