
.content-grid {
    display: grid;
    margin-left: auto;
    margin-right: auto;
    grid-gap: 5px;
}

.col-3-9 {
    grid-template-columns: 3fr 9fr;
}

.col-6-6 {
    grid-template-columns: 6fr 6fr;
}

.col-3-6-3 {
    grid-template-columns: 3fr 6fr 3fr;
}

.col-9-3 {
    grid-template-columns: 9fr 3fr;
}

.col-4-8 {
    grid-template-columns: 4fr 8fr;
}

.col-8-4 {
    grid-template-columns: 8fr 4fr;
}

.col-4-4-4 {
    grid-template-columns: repeat(3, 4fr);
}
