@media screen and (max-width: 768px) {
    .page {
        height: calc(100vh - 48px);
    }
    .flex-content>.sidebar {
        order: -1;
    }
    .content,
    .readable.wide {       
        max-width: 600px;
    }
    .flex-content {
        flex-flow: row wrap;
    }
    .head {
        font-size: 75px;
    }
}
