@media screen and (min-width: 1440px) {
    .flex-content>.sidebar {
        order: 2;
    }
    .content,
    .content-grid,
    .readable.wide {       
        max-width: 1440px;
    }
    .readable.wide.left {
        max-width: 1280px;
    }
    .content.small {
        max-width: 380px;
    }
    .flex-content {
        flex-flow: column nowrap;
    }
}
