@import url(/static/css/buttons.css);
@import url(/static/css/grid.css);
@import url(/static/css/boostrap.overrides.css);
@font-face {
    font-family: 'Orbitron';
    src: url('/static/fonts/Orbitron-Medium.ttf');
}

@font-face {
    font-family: 'Orbitron-lite';
    src: url('/static/fonts/Orbitron.ttf');
}

body {
    font-family: 'Orbitron';
    font-weight: 700;
    background-image: url("/static/img/bg.png");
    background-color: #1f1e1f;
    background-size: 100px 100px;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.page {
    height: calc(100vh - 32px);
}

.page>.img-responsive {
    max-height: calc(100vh - 40px);
}

.flex-content {
    display: flex;
    flex-flow: column nowrap;
}

.flex-fill {
    flex-grow: 1;
}

.footer {
    width: 100%;
    padding: 0 15px;
    align-self: flex-end;
}

.content {
    margin-left: auto;
    margin-right: auto;
}

a[href] {
    color: #333;
    cursor: pointer;
    text-decoration: none;  
}

.navbar > a[href] {
    font: normal normal normal 13.3333330154419px/normal Arial;
}

.content a[href],
.content-grid a[href] {
    color: #3f3f3f;
    text-decoration: underline;
}

.box {
    border: 5px solid rgba(255, 255, 255, 0.15);
    padding: 10px;
    background-color: white;
    overflow: auto;
    background-clip: padding-box;
}

.box#uploader {
    background-color: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.6);
    min-height: 200px;
}

.content,
.box {
    font-family: 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: auto;
    color: #000;
}

.box,
.group {
    margin-top: 5px;
}

.first {
    margin-top: 0 !important;
}

.last {
    margin-bottom: 0 !important;
}

.title, 
.head, 
.title .desc {
    color: #ffffff;
}

.box .head,
.content .head,
.box .title,
.content .title {
    color: #000000;
}

.head {
    font-size: 150px;
    text-align: center;
}

.title {
    line-height: 50px;
    font-size: 35px;
    margin-bottom: 5px;
}

.title .desc {
    font-size: 12px;
    line-height: 15px;
    margin-top: -10px;
}

.byline {
    display: block;
    font-size: 12px;
    padding: 5px 0px 10px 15px;
}

.subtitle { 
    font-size: 12px;
}

.box .title .desc,
.content .title .desc {
    color: #3f3f3f
}

.post {
    margin: 10px;
}

.post img, .post pre {
    max-width: 100%;
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
}

.content.readable, 
.readable {
    margin-left: auto;
    margin-right: auto;
    max-width: 800px;
    font-size: 16px;
}

.readable.left {
    margin-left: 0px;
    max-width: 1200px;
}

.post img,
.form-control {
    margin-bottom: 5px;
}


.white {
    color: #fff !important;
}

.black {
    color: #000;
}

.message {
    position: fixed;
    top: 30px;
    width: 100%;
}
