{{define "content"}}
<h1 class="text-center title">iamcosban</h1>
{{range .Info.stasis}}
<div class="box content readable">
    <h2 class="post"><a href="/b/{{titleToUrl .Title}}">{{.Title}}</a>
        <div class="byline">
            <div class="pull-left">{{.Author.Username}}</div>
            <div class="pull-right">posted: {{formatTime .Created "2006-01-02"}}</div>
        </div>
    </h2>
    <div class="post">{{render .Content.Content}}</div>
    {{if or (hasPermission $.User "stasis.post.delete") (hasPermission $.User "stasis.post.edit")}}
    <div class="pull-right">
        <form class="form-inline last" action="/post/delete" method="POST">
            {{if hasPermission $.User "stasis.post.delete" }}
            <input type="hidden" name="id" value="{{.ID}}" />
            <button class="button danger">delete</button>
            {{end}}
            {{if hasPermission $.User "stasis.post.edit"}}
            <a class="button primary" href="/post/edit?id={{.ID}}">edit</a>
            {{end}}
        </form>
    </div>
    {{end}}
</div>
{{end}}
{{end}}
