{{define "content"}}
{{if hasPermission .User "backend.access"}}
<div class="text-center title">backend</div>
<div class="content-grid col-3-9">
    <div>
        <div class="box">
            <h2 class="first">Manage</h2>
            <table class="table table-hover table-condensed last">
                <tr>
                    <td><a href="/backend/visitors">visitors</a></td>
                </tr>
                <tr>
                    <td><a href="/backend/users">users</a></td>
                </tr>
                <tr>
                    <td><a href="/backend/roles">roles</a></td>
                </tr>
                <tr>
                    <td><a href="/backend/posts">posts</a></td>
                </tr>
                <tr>
                    <td><a href="#">features</a></td>
                </tr>
            </table>
        </div>
    </div>
    <div>
        <div class="box">
            <h2 class="first">site stats</h2>
            <table class="table table-condensed table-striped table-hover last">
                <tr>
                    <th>Total Referrals</th>
                    <td>{{.Info.hubble.referrals}}</td>
                </tr>
                <tr>
                    <th>Total Unique Visitors</th>
                    <td>{{.Info.hubble.total}}</td>
                </tr>
                <tr>
                    <th>Visitors Today</th>
                    <td>{{.Info.hubble.today}}</td>
                </tr>
                <tr>
                    <th>New Visitors Today</th>
                    <td>{{.Info.hubble.uniqueToday}}</td>
                </tr>
                <tr>
                    <th>Visitors This Week</th>
                    <td>{{.Info.hubble.weekly}}</td>
                </tr>
                <tr>
                    <th>New Visitors This Week</th>
                    <td>{{.Info.hubble.uniqueWeekly}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{{else}}
{{template "notAllowed" .}}
{{end}}
{{end}}
