{{define "content"}}
<div class="text-center title">confirm</div>
<div class="box content small">
    {{if .Info}}
    <form action="/confirm" class="text-right last" method="POST">
        <div class="text-center">
            {{if showTotp}}
            <h3>Scan with your authenticator</h3>
            <img src="{{.Info.sol.qr}}" />
            <p class="mtfpx">This image will never be shown to you again.</p>
            <p>If you are unable to scan, then you may enter in the following code:</p>
            <p>
                <b>{{.Info.sol.secret}}</b>
            </p>
            <p>This code will also never be shown to you again.</p>
            {{end}}
            <h3>Create your password</h3>
            <div class="text-left">
                <label>Password</label>
                <input type="password" name="password" class="form-control" />
                <label>Confirm Password</label>
            </div>
            <input type="password" name="confirm" class="form-control" />
            <p class="text-center">By clicking "register" below, you are agreeing to our
                <a href="/terms" target="_blank">terms</a>
            </p>
            <div class="text-right">
                <input type="hidden" name="registration" value="{{.Info.sol.registration}}" />
                <input type="submit" class="button primary" id="submit" value="Register" />
            </div>
        </div>
    </form>
    {{else}}
    <div class="col-md-12 text-center">
        <h3>Invalid token</h3>
        <p>How did you get here?</p>
    </div>
    {{end}}
</div>
{{end}}