{{define "content"}}
<div class="text-center title">Password Reset</div>
	<div class="content box small">
		<form class="last" action="/forgot" method="post" id="login">
			<p>Provide the <b>username</b> for your account.</p>
			<input type="text" class="form-control" placeholder="Username" name="username"/>
			<input type="submit" class="button primary pull-right" id="submit" value="Reset Password"/>
		</form>
	</div>
</div>
{{end}}
