{{define "content"}}
<div class="content-grid col-9-3">
    <div>
        {{range .Info.stasis}}
        <div class="box">
            <div class="subtitle"><b><a href="/u/{{.Author.Username}}">{{.Author.Username}}</a></b> created post
                <b><a href="{{if .Feed}}/b/{{else}}/w/{{end}}{{titleToUrl .Title}}">{{.Title}}</a></b>
                <div class="pull-right subtitle">last edit: {{formatTime .Updated "2006-01-02"}} </div>
            </div>
            <div class="post">{{.Content | render}}</div>
        </div>
        {{end}}
    </div>
    <div>
        <div class="box">
            <h3>{{.Info.sol.Username}}</h3>
            <table class="table table-condensed table-hover">
                <tr>
                    <th>userid</th>
                    <td>{{.Info.sol.UserId}}</td>
                </tr>
                <tr>
                    <th>joined</th>
                    <td>{{formatTime .Info.sol.Created "2006-01-02"}}</td>
                </tr>
                <tr>
                    <th>posts</th>
                    <td>{{len .Info.stasis}}</td>
                </tr>
            </table>
        </div>
    </div>
</div>
{{end}}
