{{define "content"}}
{{if .Info.sol}}
<div class="text-center title">Password Reset</div>
	<div class="content box small">
		<form class="last" action="/recover" method="post">
			<p>Provide the new <b>password</b> for your account.</p>
			<input type="password" class="form-control" placeholder="New Password" name="password"/>
			<input type="password" class="form-control" placeholder="Confirm Password" name="confirm"/>
			<input type="hidden" value="{{.Info.sol.token}}" name="token"/>
			<input type="submit" class="button primary" id="submit" value="Reset Password"/>
		</form>
	</div>
</div>
{{else}}
<div class="text-center title">Invalid token!</div>
<div class="box content small">
	<p>Looks like your reset token probably expired... go request a new one!</p>
</div>
{{end}}
{{end}}
