{{define "content"}}
<div class="text-center title">register</div>
<div class="box content small">
    <form class="text-right last" action="/register" method="POST">
        <div class="form-group last">
            <input type="text" class="form-control" placeholder="Username" name="username" required>
            <input type="email" class="form-control" placeholder="Recovery Email" name="email" required>

            <input type="submit" class="button success" id="submit" value="Create" />
        </div>
    </form>
</div>
{{end}}