{{define "content"}}
<div class="text-center title">hello again</div>

<div class="box content text-center">
    <h2>Your account recovery is nearly complete</h2>
    <p>There are only one or two (very simple) steps left.<br/>
        Next, simply check your email for our message and click the link inside, we'll guide you from there.<br/>
        Wasn't that easy?</p>
</div>
{{end}}