{{define "content"}}
<div class="text-center title">welcome</div>

<div class="box content text-center">
    <h2>Your registration has started</h2>
    <p>
        Thank you signing up for an account. There are only one or two (very simple) steps left.
        <br/> Next, simply check your email for our message and click the link inside, we'll guide you from there.
        <br/> Wasn't that easy?
    </p>
</div>
{{end}}