{{define "content"}}
<div class="content-grid col-9-3">
    <div>
        {{range .Info.stasis}}
        <div class="box">
            <h2 class="post">
                <a href="/b/{{.Id}}">{{.Title}}</a>
                <div class="pull-right subtitle">last edit: {{formatTime .Updated "2006-01-02"}} </div>
            </h2>
        </div>
        {{end}}
    </div>
    <div>
        <div class="box">
            <h3>{{.Info.sol.Username}}</h3>
            <p><b>userid</b>: {{.Info.sol.UserId}}</p>
            <p><b>joined</b>: {{formatTime .Info.sol.Created "2006-01-02"}}</p>
        </div>
    </div>
</div>
{{end}}
