{{define "content"}}
{{if hasPermission .User "stasis.post.edit"}}
<div class="text-center title">edit</div>
<div class="box content readable">
    <form class="form last" action="/post/edit" method="POST">
        <label>title</label>
        <input type="text" placeholder="iamcosban" class="form-control" name="title" value="{{.Info.stasis.Title}}" />
        <div>
            <label>post type</label>
            <select name="feed" class="form-control">
                {{if hasPermission .User "stasis.post.blog"}}
                <option value="true" {{if .Info.stasis.Feed}}selected{{end}}>blog</option>
                {{end}}
                <option value="false" {{if not .Info.stasis.Feed}}selected{{end}}>wiki</option>
            </select>
        </div>
        <label>edit permissions</label>
        <input type="text" placeholder="stasis.post.edit.title (leave empty if none required)" name="editable"
            {{if .Info.stasis.Editable}}value="{{.Info.stasis.Editable}}" {{end}} class="form-control">
        <label>read permissions</label>
        <input type="text" placeholder="stasis.post.read.title (leave empty if none required)" name="readable"
            {{if .Info.stasis.Readable}}value="{{.Info.stasis.Readable}}" {{end}} class="form-control">
        <span>
            <span>
                <label>content</label>
                <span class="pull-right">
                    <a class="desc" href="https://daringfireball.net/projects/markdown/syntax">syntax help?</a>
                </span>
            </span>
            <input type="hidden" name="postid" value="{{.Info.stasis.ID}}" />
            <textarea class="form-control" placeholder="use markdown" name="content"
                rows="20">{{.Info.stasis.Content.Content}}</textarea>
            <div class="pull-right">
                <a class="button info"
                    href="{{if .Info.stasis.Feed}}/b/{{else}}/w/{{end}}{{titleToUrl .Info.stasis.Title}}">back</a>
                <button class="button primary">submit</button>
            </div>
            {{template "upload" .}}
    </form>
</div>
{{else}}
{{template "notAllowed" .}}
{{end}}
{{end}}
