{{define "content"}}
{{if hasPermission .User "stasis.post.create"}}
<div class="text-center title">new</div>
<div class="box content readable">
    <form class="form last" action="/post/new" method="POST">
        <label>title</label>
        <input type="text" placeholder="iamcosban" class="form-control" name="title" />
        {{if hasPermission .User "stasis.post.blog"}}
        <label>post type</label>
        <select name="feed" class="form-control">
            <option value="true">blog</option>
            <option value="false" selected>wiki</option>
        </select>
        {{end}}
        {{if hasPermission .User "stasis.post.permission"}}
        <label>edit permissions</label>
        <input type="text" placeholder="stasis.post.edit.title (leave empty if none required)" name="editable"
            class="form-control">
        <label>read permissions</label>
        <input type="text" placeholder="stasis.post.read.title (leave empty if none required)" name="readable"
            class="form-control">
        {{end}}
        <span>
            <label>content</label>
            <span class="pull-right">
                <a class="desc" href="https://daringfireball.net/projects/markdown/syntax">syntax help?</a>
            </span>
        </span>
        <textarea class="form-control" placeholder="use markdown" name="content" rows="20"></textarea>
        <button class="button primary pull-right">submit</button>
        {{template "upload" .}}
    </form>
</div>
{{else}}
{{template "notAllowed" .}}
{{end}}
{{end}}
