@font-face {                           
  font-family: Fixedsys;               
  src: url(../fonts/fixedsys.ttf)
}

body {
    background-color: #000;
}

.no-select {
    pointer-events: none;
	cursor: default;
	-webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;           /* non-prefixed version, currently
                                    not supported by any browser */
}

#output {
	white-space: pre-wrap;
}

#output > p {
	margin: 0px;
}

#input {
	white-space: pre-wrap;
	word-wrap: break-word;
}

#terminal {
	position: relative;
	letter-spacing: 3px;
    height: 600px;
    width:800px;
    background-color: #02120A;
    margin-left:auto;
    margin-right:auto;
    line-height: 23px;
    color: #00b400;
    font-family: 'FixedSys';
	overflow: hidden;
    padding: 10px;
    font-size: .88em;
}

#terminal > p, 
#terminal > div {
	margin: 0 0 0 5px;
}

.shadow {
    -moz-box-shadow: inset 0 0 20px #000000;
    -webkit-box-shadow: inset 0 0 20px #000000;
    box-shadow: inset 0 0 20px #000000;
}

#cursor {
	border-left: 3px solid #00b400 !important;
	margin-left: -3px;
}
