{{define "base"}}
<html>

{{template "head" .}}

<body>
    {{template "nav" .}}
    <div class="page flex-content">
        <div class="flex-fill">
            {{template "content" .}}
        </div>
        <div class="message"></div>
        <div class="footer">
            See you space pudding-pop...
            <div class="pull-right">{{printf "%.3f" .Loadtime}}</div>
        </div>
    </div>
</body>
<script type="text/javascript">
    $(window).load(function () {
        $('.raptor').raptorize();
    });
</script>

</html>
{{end}}