{{define "display"}}

<div class="content image-map">
    <div class="panel panel-default">
        <div class="panel-body image-map-body">
            <a href="{{.Src}}">
                <img src="{{.Src}}">
            </a>
        </div>
        <div class="panel-footer image-map-heading">
            <a href="{{.Src}}">{{.Name}}</a><br/> {{.Desc}}
        </div>
    </div>
</div>
{{end}}