{{define "content"}}
<div class="head">404</div>
<div class="text-center white">page not found</div>
<script>
    $('body').addClass('.background');
</script>
{{end}}
{{define "notAllowed"}}
<div class="head">403</div>
<div class="text-center white">not allowed</div>
<script>
    $('body').addClass('.background');
</script>
{{end}}
