{{define "head"}}

<head>
    <title>cosban - {{ .Title }}</title>
    <meta name="Description" CONTENT="i am cosban. this is where i store all of my trash.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="canonical" href="https://cosban.net" />
    <link rel="stylesheet" type="text/css" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/index.css">
    <link rel="stylesheet" media="(max-width: 768px)" type="text/css" href="/static/css/index-media-768.css">
    <link rel="stylesheet" media="(min-width: 1440px)" type="text/css" href="/static/css/index-media-1440.css">
    <link rel="icon" href="/favicon.ico">
    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-ui.min.js"></script>
    <script src="/static/js/base.js"></script>
    <script src="/static/js/lazy.min.js"></script>
    <script src="/static/js/raptorize.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
</head>
{{end}}
