{{define "login"}}
<li>
    <form class="form-group {{.}}" action="/login" method="POST">
        <input class="form-control" type="text" name="username" placeholder="username" />
        <input class="form-control" type="password" name="password" placeholder="password" />
        <!-- <input class="form-control" type="text" name="totp" placeholder="authenticator code" autocomplete="off" /> -->
        <div class="form-group mbfpx {{.}}">
            <a href="/register" class="button success">register</a>
            <input class="button primary" id="submit" value="login" type="submit">
        </div>
    </form>
</li>
<li role="separator" class="divider"></li>
<li class="{{.}}">
    <a href="/forgot">forgot password?</a>
</li>
{{end}}