{{define "nav"}}
<div class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-nav"
                aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand nav-title" href="/">cosban</a>
        </div>
        <div class="collapse navbar-collapse" id="main-nav">
            <ul class="nav navbar-nav navbar-left">
                <li><a href="/b">blog</a></li>
                <li><a href="/w">wiki</a></li>
                {{if hasPermission .User "stasis.post.create"}}
                <li><a class="text-center" href="/post/new">new post</a></li>
                {{end}}
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {{if .LoggedIn }}
                <li role="presentation" class="dropdown">
                    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">{{.User.Username}}
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu box mbfpx">
                        <li>
                            <a class="text-center" href="/profile">profile</a>
                        </li>
                        {{if hasPermission .User "backend.access"}}
                        <li>
                            <a class="text-center" href="/backend">backend</a>
                        </li>
                        {{end}}
                        <li role="separator" class="divider"></li>
                        <li>
                            <form class="text-center last" action="/disconnect" method="POST">
                                <input class="button danger" value="disconnect" type="submit" />
                            </form>
                        </li>
                    </ul>
                </li>
                {{else}}
                <li role="presentation" class="dropdown">
                    <a href="#" role="button" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                        aria-expanded="false">login
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu box">
                        {{template "login" "text-center"}}

                    </ul>
                </li>
                {{end}}
            </ul>
        </div>
    </div>
</div>
{{end}}
