{{define "upload"}}
{{if hasPermission .User "kitsune.upload"}}
<button type="button" class="button info" onclick="document.getElementById('upload_button').click()">upload</button>
<input type="file" id="upload_button" accept="image/*" class="hidden" multiple>
<div id="images"></div>
<script>
    let index = 0;
    window.addEventListener('load', function () {
        document.getElementById('upload_button').addEventListener('change', function () {
            for (let i = 0; i < this.files.length; i++) {
                addImage(this.files[i]);
            }
        });
    });
    function addImage(file) {
        let template = document.getElementById('template').innerHTML;
        let images = document.getElementById('images');
        var reader = new FileReader();
        reader.onload = function (e) {
            index++;
            let block = template.replace(/\{0\}/g, index.toString());
            upload(e.target.result, file.name, block)
        }
        reader.readAsDataURL(file);
    }
    function upload(encoding, filename, block) {
        var data = {
            filename: filename,
            image: encoding,
        }
        let xhr = new XMLHttpRequest();
        xhr.overrideMimeType('multipart/form-data');
        xhr.open("POST", "/upload");
        xhr.onreadystatechange = function () {
            if (xhr.readyState == XMLHttpRequest.DONE) {
                if (xhr.status == 200) {
                    let response = JSON.parse(xhr.responseText);
                    let thumbnail = "/uploads/thumbnail/" + response.hash + "/" + response.filename + ".png";
                    let location = "/uploads/" + response.hash + "/" + response.filename;
                    let markdown = "![" + response.filename + "](" + location + ")";
                    images.insertAdjacentHTML('beforeend', block);
                    document.getElementById(index.toString() + '_img').setAttribute('src', thumbnail);
                    document.getElementById(index.toString() + '_markdown').setAttribute('value', markdown);
                    return null
                } else {
                    newMessage("Unable to upload image", "danger", 5);
                    return null
                }
            }
        }
        xhr.send(JSON.stringify(data), xhr);
    }
    function remove(id) {
        var elem = document.getElementById(id);
        return elem.parentNode.removeChild(elem);
    }
</script>
<div id="template" class="hidden">
    <div class="col-sm-4" id="{0}_form">
        <div>
            <img id="{0}_img" class="img-responsive">
            <div class="group">
                <div class="form-group last">
                    <input type="text" class="form-control readonly" name="pieces_{0}_markdown" id="{0}_markdown" readonly>
                </div>
                <button type="button" class="button info" title="preview the image at full resolution">preview</button>
                <button type="button" class="button danger pull-right" onclick="remove('{0}_form')">remove</button>
            </div>
        </div>
    </div>
</div>
{{end}}
{{end}}