{{define "content"}}
<script>document.title = "cosban - {{.Info.stasis.Title}}";</script>
<h1 class="text-center title">iamcosban</h1>
<div class="box content readable">
    <h2 class="post">{{.Info.stasis.Title}}
        <div class="byline">
            <div class="pull-left">{{.Info.stasis.Author.Username}}</div>
            <div class="pull-right">{{formatTime .Info.stasis.Created "2006-01-02"}}</div>
        </div>
    </h2>
    <div class="post">{{render .Info.stasis.Content.Content}}</div>
    {{if or (hasPermission .User "stasis.post.delete") (hasPermission .User "stasis.post.edit")}}
    <div class="pull-right">
        <form class="form-inline last" action="/post/delete" method="POST">
            {{if hasPermission .User "stasis.post.delete" }}
            <input type="hidden" name="id" value="{{.Info.stasis.ID}}" />
            <button class="button danger">delete</button>
            {{end}}
            {{if hasPermission .User "stasis.post.edit"}}
            <a class="button primary" href="/post/edit?id={{.Info.stasis.ID}}">edit</a>
            {{end}}
        </form>
    </div>
    {{end}}
</div>
{{end}}
